$pcolor : #0679E4; 
$border :4px solid #0679e4;
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
$transition: all ease .4s;
$color:#333;
$color2:#666;
$radius:25px;
$radius-btn:10px;
